version: "3"

services:
  cloudflared:
    image: docker.1ms.run/cloudflare/cloudflared:latest
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
    command: tunnel --no-autoupdate run --token ${CLOUDFLARE_TUNNEL_TOKEN}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - TZ=${TZ}

networks:
  default:
    name: ${CONTAINER_NAME}-network
