version: "3"

services:
  sakurafrp:
    image: natfrp.com/launcher:latest
    container_name: ${CONTAINER_NAME}
    restart: always
    network_mode: host
    environment:
      LANG: zh_CN.UTF-8
      TZ: ${TZ}
      NATFRP_TOKEN: ${NATFRP_TOKEN}
      NATFRP_REMOTE: ${NATFRP_REMOTE}
    volumes:
      - sakurafrp-data:/run

volumes:
  sakurafrp-data:
